div{
    text-align: center;
    display: inline-block;
    font-family: Georgia;
}
body{
    text-align: center;
    background-color: bisque;
}
.animales{
    background-color: rgb(232, 96, 33);
    width: 100px;
    border: 1px dashed black;
}
a{
    color:black;
    text-decoration: none;
}
h1{
    color:rgb(12, 110, 105)
}
a:hover{
    color:aquamarine
}